@import "variables";
.page-header {
  background-color: $page-header-background;

  .display-3 {
    color: $company-primary-color;
    span {
      color: $lightest-color;
    }
  }
  [class^='col-']:last-child {
    margin-top: $spacer-y *2;
  }

  .form-inline .form-control {
    display: inline-block;
    width: auto;
  }

  @include media-breakpoint-down(md) {
    .display-3 {
      padding-top: $spacer-y;
      font-size: $display4-size;
      text-align: left;
    }
  }
}

.navbar {
  // 背景：透明；
  //background: $navbar-background;
  @include gradient-horizontal(green, white);
}
